# Configuración de Entorno
# Copia este archivo como .env y coloca tus credenciales reales

DB_HOST=localhost
DB_NAME=nombre_de_tu_base_de_datos
DB_USER=tu_usuario
DB_PASS=tu_contraseña
# DB_PORT=3306

# Opcional: Define si estás en 'development' o 'production'
# APP_ENV=production
